body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a:hover {
    text-decoration: underline;
}

.btn {
    border-radius: 10cap;
}

.outline {
    background-color: transparent;
    outline: auto;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #0d47a1;

    color: #0d47a1;
}

.outline:hover {
    background-color: #bbdefb;
    outline: auto;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #0d47a1;

    color: #0d47a1;

}

.hero-image {
    border-radius: 1cap;
}

.nav-link {
    font-weight: 50px;
}